 .header {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #e01d5d;
  padding: 0px 3rem;
  margin-bottom: 6rem;
}
.header::after {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 30%;
  background-image: url("../../Images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: fill;
}
.container .searchBx {
  position: relative;
  width: 20rem;
  margin: 2rem auto 0;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -9px 5px 39px -10px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -9px 5px 39px -10px rgba(0, 0, 0, 0.67);
  box-shadow: -9px 5px 39px -10px rgba(0, 0, 0, 0.67);
}
.container .searchBx input {
  padding: 0.6rem 2rem;
  width: 80%;
  border: none;
  outline: none;
  margin-left: 1.2rem;
  color: #e01d5d;
  font-size: 0.8rem;
  font-weight: 550;
  border-radius: 1.5rem;
}
.container .searchBx input::placeholder {
  color: #e01d5d;
  font-weight: bold;
}
.container .searchBx i {
  color: #e01d5d;
  margin-left: 1rem;
  font-size: 1.2rem;
}
.container .imgBx {
  position: relative;
  width: 20rem;
  margin-top: -2rem;
  margin-left: 2rem;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.container .imgBx img {
  width: 100%;
}
.container .imgBx:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .header {
    height: 70vh;
  }
  .logo {
    padding: 0.1rem;
    border: 0.2rem solid #fff;
  }
  .logo div {
    padding: 0.1rem 0.4rem;
    border: 0.2rem solid #fff;
  }
  .logo div span {
    font-size: 1.1rem;
  }
  .logo i {
    transform: scale(0.8);
    margin-left: 2px;
  }
  .menu-bar ul li {
    margin: 0 0.9rem;
    padding: 0.3rem;
  }
}
@media (max-width: 992px) {
  .header {
    height: 63vh;
    margin-bottom:8.5rem;
  }
  .logo {
    padding: 0.1rem;
    border: 0.2rem solid #fff;
  }
  .logo div {
    padding: 0.1rem 0.4rem;
    border: 0.2rem solid #fff;
  }
  .logo div span {
    font-size: 1rem;
  }
  .logo i {
    transform: scale(0.6);
    margin-left: 2px;
  }
  .menu-bar ul li {
    margin: 0 0.4rem;
    padding: 0.3rem;
  }
  .menu-bar button a {
    font-size:0.7rem !important;
 }
  .container .imgBx {
    width:18rem;
    margin-left:0;
  }
}
@media (max-width:768px){
  .header {
    height: 54vh;
    margin-bottom:8.5rem;
  }
  .nav-bar {
    width: 100%;
    padding: 1rem 0;
  }
  .logo {
    padding: 0.1rem;
    border: 0.2rem solid #fff;
  }
  .logo div {
    padding: 0.1rem 0.2rem;
    border: 0.2rem solid #fff;
  }
  .logo div span {
    font-size:0.7rem;
  }
  .logo i {
    transform: scale(0.5);
    margin-left:1px;
    margin-top:2px;
  }
  .menu-bar ul li {
    margin: 0 0.2rem;
    padding: 0.2rem;
  } 
  .menu-bar ul li a{
   font-size:0.8rem;
  }
  .menu-bar button {
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
  }
  .menu-bar button a {
     font-size:0.6rem !important;
  }
  .container .imgBx {
    width:16rem;
    margin-left:0;
  }
  .container .searchBx {
    width:17rem;
  }
  .container .searchBx input {
    padding: 0.4rem 2rem;
    width: 80%;
    font-size: 0.7rem;
  }
  .container .searchBx i {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
@media (max-width:662px) {
  .header {
    height:48vh;
    margin-bottom:8rem;
  }
  .logo {
    padding: 0.1rem;
    border: 0.1rem solid #fff;
  }
  .logo div {
    padding: 1px 0.2rem;
    border: 0.1rem solid #fff;
  }
  .logo div span {
    font-size:0.7rem;
    line-height: 0%;
  }
  .logo i {
    transform: scale(0.4);
    margin-top:1px;
    margin-left:1px;
  }
  .menu-bar ul li {
    margin: 0 0.2rem;
    padding: 0.2rem;
  } 
  .menu-bar ul li a{
   font-size:0.7rem;
  }
  .menu-bar button {
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
  }
  .menu-bar button a {
     font-size:0.5rem !important;
  }
  .container .imgBx {
    width:14rem;
    margin-left:0;
  }
  .container .searchBx {
    width:13rem;
  }
  .container .searchBx input {
    padding: 0.3rem 2rem;
    font-size: 0.7rem;
    margin-left:0.9rem;
  }
  .container .searchBx i {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
}
@media (max-width:600px){
  .header{
    height:40vh;
    margin-bottom:8rem;
  }
  .container .imgBx {
    width:12rem;
    margin-left:0;
  }
  nav{
    display:block;
  }
  .menu-bar ul {
    position: relative;
    top: 0%;
    right: 0%;
    height:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    padding:1.5rem;
    z-index:10;
  }
  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-bar ul li {
    margin: 0.1rem 0;
    padding:0.2rem;
  } 
  .menu-bar ul li a{
   font-size:0.9rem;
   color: #e01d5d;
  }
}